<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ekenya.rnd.baseapp">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AssetApp"
        android:allowBackup="true"
        android:icon="@mipmap/asset_launcher"
        android:label="Asset Management"
        android:roundIcon="@mipmap/asset_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ETourism">
        <activity android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>